.app {
	background-color: beige;
	height: 100vh;
}
.wrap {
	width: 90%;
	margin: 0 auto;
}
.search {
	padding: 50px;
	display: flex;
	justify-content: center;
}
input {
	margin-right: 20px;
	padding: 8px;
	width: 50%;
	border-radius: 5px;
}
button {
	width: 15%;
	background-color: cadetblue;
	color: #fff;
	font-size: 17px;
	border: unset;
	border-radius: 5px;
}
