* {
	margin: unset;
	padding: unset;
}
.app {
	background-color: #d3dedc;
	height: 100vh;
	font-family: "weathericons";
}
.wrap {
	width: 90%;
	margin: 0 auto;
}
.title {
	text-align: center;
	padding: 20px 0;
	font-size: 48px;
	color: #b3541e;
	font-family: "weathericons";
	text-decoration: underline;
}
.search {
	padding: 50px;
	display: flex;
	justify-content: center;
}
input {
	margin-right: 20px;
	padding: 15px 10px;
	width: 50%;
	border-radius: 5px;
	border: 2px solid #3f3b36;
}
input::placeholder {
	font-size: 16px;
}
input:focus {
	outline: none !important;
	border: 2px solid #4fbdba;
}
button {
	/* width: 15%;
	background-color: #7c99ac;
	color: #fff;
	font-size: 17px;
	border: unset;
	border-radius: 5px; */
}
.widget {
	margin: 0 auto;
	width: 70%;
	text-align: center;
	background-color: #92a9bd;
	border-radius: 20px;
}
.weathericon i {
	margin: 60px 0;
	font-size: 120px;
}
.weatherInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
}
.temperature {
	color: #fff;
	padding: 30px 0;
	width: 100%;
}
.temperature span {
	font-size: 57px;
}
.description {
	color: #fff;
	padding: 30px 0;
	width: 100%;
}
.weatherCondition {
	text-transform: uppercase;
}
.weatherCondition h2 {
	font-size: 40px;
}
.place {
	background-color: #000;
}
.place h6 {
	font-size: 16px;
}
.date {
	background-color: #46c3c7;
	padding: 30px 20px;
	width: 100%;
	font-size: 28px;
	color: #fff;
	font-weight: bold;
}
.extraTemp {
	display: flex;
	justify-content: space-between;
	padding: 40px;
}
.twoSidedsecction {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
p {
	margin-right: 20px;
}
p i {
	font-size: 30px;
	color: #1bf7ff;
}
.extraInfoLeftSide {
	text-align: left;
	font-size: 20px;
}

/* CSS */
.button-71 {
	background-color: #0078d0;
	border: 0;
	border-radius: 56px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
		"Helvetica Neue", sans-serif;
	font-size: 18px;
	font-weight: 600;
	outline: 0;
	padding: 16px 21px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	overflow: hidden;
}

.button-71:before {
	background-color: initial;
	background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
	border-radius: 125px;
	content: "";
	height: 50%;
	left: 4%;
	opacity: 0.5;
	position: absolute;
	top: 0;
	transition: all 0.3s;
	width: 92%;
}

.button-71:hover {
	box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
		rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
	transform: scale(1.05);
}

@media (min-width: 768px) {
	.button-71 {
		padding: 16px 48px;
	}
}
